BallsAmount
{
    position: absolute;
    left: 100px;
	right: 100px;
	top: 900px;
	bottom: 100px;
    font-size: 50px;
	font-weight: bold;
	text-shadow: 4px 4px 10px rgba( black, 0.3 );
	color: white;
    justify-content: center;
	align-items: center;
}

rootpanel
{
	&.devcamera
	{
		display: none;
	}
}